---
#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if prometheus_node_exporter_group %}
- job_name: node_exporter
  scrape_interval: 15s
  static_configs:
  - targets:
{% for server in groups[prometheus_node_exporter_group] %}
{% if hostvars[server]['ansible_host'] is defined %}
    - {{ hostvars[server].ansible_host }}:9100
{% endif %}
{% endfor %}
{% endif %}


- job_name: "zookeeper"
  static_configs:
    - targets:
{% for server in groups['zookeeper'] %}
      - {{ hostvars[server].inventory_hostname }}:8079
{% endfor %}

      labels:
        env: "dev"
  relabel_configs:
    - source_labels: [__address__]
      target_label: hostname
      regex: '([^:]+)(:[0-9]+)?'
      replacement: '${1}'

- job_name: "kafka-broker"
  static_configs:
    - targets:
{% for server in groups['zookeeper'] %}
      - {{ hostvars[server].inventory_hostname }}:8080
{% endfor %}
      labels:
        env: "dev"
  relabel_configs:
    - source_labels: [__address__]
      target_label: hostname
      regex: '([^:]+)(:[0-9]+)?'
      replacement: '${1}'
